/*Ocultamos por defecto los span que hay en los label*/
label span {display:none;color: #f00;font-weight:bold;} 
/*Ponemos un borde rojo al campo*/
.error {border:1px solid #f00 !important;} 
/*Si el label tiene la clase errorSpan, mostramos dicho span */
.errorSpan span{display:inline;}
/*Fin de Clases de Error*/